* {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Inconsolata', monospace;
  line-height: 1.35;
}

h1 {
  margin: auto;
  font-size: 12vw;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

p,
code,
li {
  font-size: 2rem;
}

pre {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 3px;
  padding: 20px;
}

.commentary {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  display: flex;
  z-index: 100;
}

.commentary__content {
  margin: auto;
  width: 90%;
  height: 90%;
  max-width: 740px;
  max-height: 600px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .8);
}

.commentary--main .commentary__content {
  background-color: transparent;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
}

.commentary--main h1 {
  color: #FFFFFF;
}
