.commentary {
  box-sizing: border-box;
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  top: 20px;
  left: 20px;
  position: fixed;
  display: flex;
  display: flex;
  z-index: 100;
  background-color: rgba(15, 102, 153, .8);
}

.commentary__content {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.commentary--main {
  background-color: transparent;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

code {
  font-family: 'Inconsolata', monospace;
  line-height: .9;
}

h1 {
  margin: auto;
  font-size: 12vw;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

p,
code {
  font-size: 2rem;
}

pre {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 3px;
  padding: 0 20px;
}
