* {
  font-family: 'Inconsolata', monospace;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: auto;
  font-size: 12vw;
  text-align: center;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

p,
code,
li {
  font-size: 2rem;
}

ul {
  padding-left: 30px;
}

pre {
  background-color: rgba(0, 0, 0, .08);
  border-radius: 3px;
  padding: 20px;
}

.wrapper {
  opacity: 0;
  transition: opacity .5s;
}

.wrapper--visible {
  opacity: 1;
  transition: opacity .5s;
}

.commentary {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  display: flex;
  z-index: 100;
}

.commentary__content {
  margin: auto;
  width: 90%;
  height: 90%;
  max-width: 740px;
  max-height: 600px;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .8);
}

.commentary--main .commentary__content {
  background-color: transparent;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
}

.commentary--main h1 {
  color: #FFFFFF;
}

.nav-link {
  box-sizing: border-box;
  z-index: 101;
  position: fixed;
  background-color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding-top: 10px;
  top: calc(50% - 25px);
  text-align: center;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.nav-link--left {
  left: 15px;
}

.nav-link--right {
  right: 15px;
}
